In [1]:
import pandas as pd
import numpy as np

In [2]:
students = "students_complete.csv"

In [12]:
studentsdf = pd.read_csv(students)

In [4]:
schools = "schools_complete.csv"

In [104]:
schoolsdf = pd.read_csv(schools)
schoolsdf.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [16]:
Huangpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Huang High School")]

In [35]:
Huangpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Huang High School")]

In [117]:
Huangpmtotal = Huangpm["reading_score"].count()

In [119]:
Huangpmr = Huangpmtotal / 2917
Huangpmr

0.65683921837504289

In [121]:
Huangprtotal = Huangpr["reading_score"].count()

In [126]:
Huangprr = Huangprtotal / 2917
Huangprr

0.81316420980459381

In [127]:
Figpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Figueroa High School")]

In [128]:
Figpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Figueroa High School")]

In [130]:
Figmptotal = Figpr["reading_score"].count()

In [131]:
Figpmr = Figmptotal / 2949
Figpmr

0.80739233638521535

In [132]:
Figprtotal = Figpr["reading_score"].count()

In [133]:
Figprr = Figprtotal / 2494
Figprr

0.95469125902165197

In [48]:
Shelpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Shelton High School")]

In [49]:
Shelpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Shelton High School")]

In [134]:
Shelpmtotal = Figpr["reading_score"].count()

In [135]:
Shelprtotal = Shelpr["reading_score"].count()

In [136]:
Shelpmr = Shelpmtotal / 1761

In [137]:
Shelprr = Shelprtotal / 1761

In [138]:
Hernpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Hernandez High School")]

In [57]:
Hernpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Hernandez High School")]

In [139]:
Hernpmtotal = Hernpr["reading_score"].count()
Hernprtotal = Hernpr["reading_score"].count()

In [140]:
Hernpmr = Hernpmtotal / 4635
Hernprr = Hernprtotal / 4635

In [141]:
Grifpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Griffin High School")]

In [142]:
Grifpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Griffin High School")]

In [143]:
Grifpmtotal = Grifpr["reading_score"].count()
Grifprtotal = Grifpr["reading_score"].count()

In [144]:
Grifpmr = Grifpmtotal / 1468
Grifprr = Grifprtotal / 1468

In [145]:
Wilspm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Wilson High School")]

In [146]:
Wilspr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Wilson High School")]

In [147]:
Wilspmtotal = Wilspr["reading_score"].count()
Wilsprtotal = Wilspr["reading_score"].count()

In [148]:
Wilspmr = Wilspmtotal / 2283
Wilsprr = Wilsprtotal / 2283

In [149]:
Cabrpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Cabrera High School")]

In [150]:
Cabrpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Cabrera High School")]

In [151]:
Cabrpmtotal = Cabrpr["reading_score"].count()
Cabrprtotal = Cabrpr["reading_score"].count()

In [152]:
Cabrpmr = Cabrpmtotal / 1858
Cabrprr = Cabrprtotal / 1858

In [153]:
Bailpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Bailey High School")]

In [154]:
Bailpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Bail High School")]

In [155]:
Bailpmtotal = Bailpr["reading_score"].count()
Bailprtotal = Bailpr["reading_score"].count()

In [156]:
Bailpmr = Bailpmtotal / 4976
Bailprr = Bailprtotal / 4976

In [157]:
Holdpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Holden High School")]

In [158]:
Holdpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Holden High School")]

In [159]:
Holdpmtotal = Holdpr["reading_score"].count()
Holdprtotal = Holdpr["reading_score"].count()

In [160]:
Holdpmr = Holdpmtotal / 427
Holdprr = Holdprtotal / 427

In [161]:
Penapm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Pena High School")]

In [162]:
Penapr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Pena High School")]

In [163]:
Penapmtotal = Penapr["reading_score"].count()
Penaprtotal = Penapr["reading_score"].count()

In [164]:
Penapmr = Penapmtotal / 962
Penaprr = Penaprtotal / 962

In [165]:
Wrigpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Wright High School")]
Wrigpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Wright High School")]

In [166]:
Wrigpmtotal = Wrigpr["reading_score"].count()
Wrigprtotal = Wrigpr["reading_score"].count()

In [167]:
Wrigpmr = Wrigpmtotal / 1800
Wrigprr = Wrigprtotal / 1800

In [168]:
Rodrpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Rodriguez High School")]
Rodrpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Rodriguez High School")]

In [169]:
Rodrpmtotal = Rodrpr["reading_score"].count()
Rodrprtotal = Rodrpr["reading_score"].count()

In [170]:
Rodrpmr = Rodrpmtotal / 3999
Rodrprr = Rodrprtotal / 3999

In [171]:
Johnpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Johnson High School")]
Johnpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Johnson High School")]

In [172]:
Johnpmtotal = Johnpr["reading_score"].count()
Johnprtotal = Johnpr["reading_score"].count()

In [173]:
Johnpmr = Johnpmtotal / 4761
Johnprr = Johnprtotal / 4761

In [174]:
Fordpm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Ford High School")]
Fordpr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Ford High School")]

In [175]:
Fordpmtotal = Fordpr["reading_score"].count()
Fordprtotal = Fordpr["reading_score"].count()

In [176]:
Fordpmr = Fordpmtotal / 2739
Fordprr = Fordprtotal / 2739

In [177]:
Thompm = studentsdf.loc[(studentsdf["math_score"] >= 70) &
                        (studentsdf["school"] == "Thomas High School")]
Thompr = studentsdf.loc[(studentsdf["reading_score"] >= 70) &
                        (studentsdf["school"] == "Thomas High School")]

In [178]:
Thompmtotal = Thompr["reading_score"].count()
Thomprtotal = Thompr["reading_score"].count()

In [179]:
Thompmr = Thompmtotal / 1635
Thomprr = Thomprtotal / 1635

In [183]:
scm = schoolsdf.assign(Average_Math_Score = [Huangpmr, Figpmr, Shelpmr, Hernpmr,
                                       Grifpmr, Wilspmr, Cabrpmr, Bailpmr, Holdpmr, 
                                       Penapmr, Wrigpmr, Rodrpmr, Johnpmr, Fordpmr, Thompmr])

In [185]:
scr = scm.assign(Average_Reading_Score = [Huangprr, Figprr, Shelprr, Hernprr,
                                       Grifprr, Wilsprr, Cabrprr, Bailprr, Holdprr, 
                                       Penaprr, Wrigprr, Rodrprr, Johnprr, Fordprr, Thomprr])

In [186]:
scr

,School ID,name,type,size,budget,Average_Math_Score,Average_Reading_Score
0,0,Huang High School,District,2917,1910635,0.656839,0.813164
1,1,Figueroa High School,District,2949,1884411,0.807392,0.954691
2,2,Shelton High School,Charter,1761,1056600,1.352073,0.958546
3,3,Hernandez High School,District,4635,3022020,0.808630,0.808630
4,4,Griffin High School,Charter,1468,917500,0.971390,0.971390
5,5,Wilson High School,Charter,2283,1319574,0.965396,0.965396
6,6,Cabrera High School,Charter,1858,1081356,0.970398,0.970398
7,7,Bailey High School,District,4976,3124928,0.000000,0.000000
8,8,Holden High School,Charter,427,248087,0.962529,0.962529
9,9,Pena High School,Charter,962,585858,0.959459,0.959459
10,10,Wright High School,Charter,1800,1049400,0.966111,0.966111
11,11,Rodriguez High School,District,3999,2547363,0.802201,0.802201
12,12,Johnson High School,District,4761,3094650,0.812224,0.812224
13,13,Ford High School,District,2739,1763916,0.792990,0.792990
14,14,Thomas High School,Charter,1635,1043130,0.973089,0.973089

In [187]:
scrcom = scr[['Average_Math_Score','Average_Reading_Score']].mean(axis=1)

In [198]:
final = pd.concat([scr, scrcom], axis=1)

In [211]:
xf = final.rename(columns={0 : '% Overall Passing'})
xf.head()

,School ID,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing
0,0,Huang High School,District,2917,1910635,0.656839,0.813164,0.735002
1,1,Figueroa High School,District,2949,1884411,0.807392,0.954691,0.881042
2,2,Shelton High School,Charter,1761,1056600,1.352073,0.958546,1.155309
3,3,Hernandez High School,District,4635,3022020,0.808630,0.808630,0.808630
4,4,Griffin High School,Charter,1468,917500,0.971390,0.971390,0.971390

In [199]:
stupop = schoolsdf["size"]
stupop.head()

0    2917
1    2949
2    1761
3    4635
4    1468
Name: size, dtype: int64

In [201]:
sbudget = schoolsdf["budget"]

In [202]:
sbudgetnum = pd.to_numeric(sbudget)
stupopnum = pd.to_numeric(stupop)

In [203]:
perstubu = sbudgetnum / stupopnum
perstubu

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [212]:
ff = pd.concat([xf, perstubu], axis=1)

In [213]:
ff.head()

,School ID,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing,0
0,0,Huang High School,District,2917,1910635,0.656839,0.813164,0.735002,655.0
1,1,Figueroa High School,District,2949,1884411,0.807392,0.954691,0.881042,639.0
2,2,Shelton High School,Charter,1761,1056600,1.352073,0.958546,1.155309,600.0
3,3,Hernandez High School,District,4635,3022020,0.808630,0.808630,0.808630,652.0
4,4,Griffin High School,Charter,1468,917500,0.971390,0.971390,0.971390,625.0

In [214]:
fff = ff.rename(columns={0 : "Per Student Budget"})

In [215]:
fff

,School ID,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing,Per Student Budget
0,0,Huang High School,District,2917,1910635,0.656839,0.813164,0.735002,655.0
1,1,Figueroa High School,District,2949,1884411,0.807392,0.954691,0.881042,639.0
2,2,Shelton High School,Charter,1761,1056600,1.352073,0.958546,1.155309,600.0
3,3,Hernandez High School,District,4635,3022020,0.808630,0.808630,0.808630,652.0
4,4,Griffin High School,Charter,1468,917500,0.971390,0.971390,0.971390,625.0

In [217]:
del fff["School ID"]

In [218]:
fff

,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing,Per Student Budget
0,Huang High School,District,2917,1910635,0.656839,0.813164,0.735002,655.0
1,Figueroa High School,District,2949,1884411,0.807392,0.954691,0.881042,639.0
2,Shelton High School,Charter,1761,1056600,1.352073,0.958546,1.155309,600.0
3,Hernandez High School,District,4635,3022020,0.808630,0.808630,0.808630,652.0
4,Griffin High School,Charter,1468,917500,0.971390,0.971390,0.971390,625.0

In [224]:
fff.set_index('name')
fff

,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing,Per Student Budget
0,Huang High School,District,2917,1910635,0.656839,0.813164,0.735002,655.0
1,Figueroa High School,District,2949,1884411,0.807392,0.954691,0.881042,639.0
2,Shelton High School,Charter,1761,1056600,1.352073,0.958546,1.155309,600.0
3,Hernandez High School,District,4635,3022020,0.808630,0.808630,0.808630,652.0
4,Griffin High School,Charter,1468,917500,0.971390,0.971390,0.971390,625.0
5,Wilson High School,Charter,2283,1319574,0.965396,0.965396,0.965396,578.0
6,Cabrera High School,Charter,1858,1081356,0.970398,0.970398,0.970398,582.0
7,Bailey High School,District,4976,3124928,0.000000,0.000000,0.000000,628.0
8,Holden High School,Charter,427,248087,0.962529,0.962529,0.962529,581.0
9,Pena High School,Charter,962,585858,0.959459,0.959459,0.959459,609.0
10,Wright High School,Charter,1800,1049400,0.966111,0.966111,0.966111,583.0
11,Rodriguez High School,District,3999,2547363,0.802201,0.802201,0.802201,637.0
12,Johnson High School,District,4761,3094650,0.812224,0.812224,0.812224,650.0
13,Ford High School,District,2739,1763916,0.792990,0.792990,0.792990,644.0
14,Thomas High School,Charter,1635,1043130,0.973089,0.973089,0.973089,638.0

In [226]:
top5 = fff.sort_values('% Overall Passing', ascending=False)

In [227]:
top5.head()

,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing,Per Student Budget
2,Shelton High School,Charter,1761,1056600,1.352073,0.958546,1.155309,600.0
14,Thomas High School,Charter,1635,1043130,0.973089,0.973089,0.973089,638.0
4,Griffin High School,Charter,1468,917500,0.971390,0.971390,0.971390,625.0
6,Cabrera High School,Charter,1858,1081356,0.970398,0.970398,0.970398,582.0
10,Wright High School,Charter,1800,1049400,0.966111,0.966111,0.966111,583.0

In [228]:
bot5 = fff.sort_values('% Overall Passing')
bot5.head()

,name,type,size,budget,Average_Math_Score,Average_Reading_Score,% Overall Passing,Per Student Budget
7,Bailey High School,District,4976,3124928,0.000000,0.000000,0.000000,628.0
0,Huang High School,District,2917,1910635,0.656839,0.813164,0.735002,655.0
13,Ford High School,District,2739,1763916,0.792990,0.792990,0.792990,644.0
11,Rodriguez High School,District,3999,2547363,0.802201,0.802201,0.802201,637.0
3,Hernandez High School,District,4635,3022020,0.808630,0.808630,0.808630,652.0